div.msgBox
{
    position: absolute;;
    z-index: 1000;
    width: 430px;
    min-height:160px;
    color: #00335e;
	background-color:#fff;
	-moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;

}
div.msgBoxBackGround
{
    top:0;
    left:0;
    position:absolute;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.1;
    z-index:999;
}
div.msgBoxTitle
{
    padding:8px 0 8px 0;
    font-variant:small-caps;
    font-size:16px;
    font-weight:bolder;
    color:#000;
    width:90%;
	margin:0 auto;
    border-bottom : 1px solid #d9d9d9;
}
div.msgBoxTitle .closeButton
{
	position: absolute;
	z-index: 100;
	right: 22px;
	top: 15px;
	overflow: hidden;
	text-indent: -9em;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: 0 -201px;
    background-image: url(http://cdn.huanleguang.com/img/hlg/v3/ui-dialog.png);
   _background-image: url(http://cdn.huanleguang.com/img/hlg/v3/ui-dialog.gif);

}
div.msgBoxImage
{
    margin:20px 5px 0 25px;
    display:inline-block;
    float:left;
    height:75px;
    width:45px;
}
div.msgBoxImage img
{
    height:40px;
    width:40px;
}
div.msgBoxContent
{
    font-size:11pt;
    margin:0 3px 6px 3px;
    display:inline-block;
    float:left;
    height:90px;
    width:319px;
}
div.msgBoxContent p
{
    padding:0;
    margin:0;
    display: table;
    height: 100%;
    width: 100%;
}

div.msgBoxContent span 
{
    display: table-cell;
    vertical-align: middle;
    color: #000;
}

div.msgBoxButtons
{
    display:inline-block;
    width:100%;
	background-color:#f2f2f2;
    text-align:center;
	padding-top: 15px;
	vertical-align: middle;
	height: 45px;
}
div.msgBoxButtons input[type='button']
{
    cursor:pointer;
    margin:2px;
    height:31px;
    width:68px;
    border:0px;
	display: inline-block;
}
div.msgBoxButtons input[type='button']:hover
{
    color:#00549c;
}

div.msgBoxInputs
{
    margin:0 auto;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    width:240px;
}
div.msgInput {
	margin :10px 0px
	
}
div.msgInput input[type='text'],div.msgInput input[type='password']
{
  
    width:180px;
}
div.msgInput text
{
    color:#2f2f2f;
    font-size:10pt;
}
/*messages消息32*32图标*/
.messages-prompt{background:rgba(122,122,122,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f7A7A7A',EndColorStr='#7f7A7A7A');padding:1px;position:absolute;z-index: 1000004 ;border:1px #e4e4e4 solid;}
.messages-prompt div{ padding:10px; background:#FFF; z-index: 1000004}
.messages-prompt .fbloader{padding:10px 0px 0 0px;text-align: center;}
.msg-mask{position: absolute; top:0px; left:0px;right:0px;bottom:0px;z-index: 1000003;filter:alpha(opacity=10);width:100%;background-color:#000000;opacity:0.1}
/*messages消息框 END*/