/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
/*谷歌浏览器支持小于12px字体*/
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var ,i { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */


/** 重置列表元素 **/
ul, ol, li{ list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; color:#009ae3; cursor:pointer; outline:none;}
a:hover { text-decoration: none; color:#CC0000; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
mark { background: #ff0; }

/*
Copyright 2010, KISSY UI Library v1.1.5
MIT Licensed
build time: Oct 15 14:07
*/
/*
双飞翼栅格布局 Flying Swing Grids Layout
理念：简单质朴，语义化布局。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/

/* 居中 */
#header, #content, #footer {
    margin-left: auto;
    margin-right: auto;
}

/** 布局基础样式 **/
.col-main {
    float: left;
    width: 100%;
    /* bug fix: 主栏没有内容时，在 Firefox 和 Chrome 等浏览器下，布局不对 */
    min-height: 1px;
}
.col-sub, .col-extra {
    float: left;
    /*position: relative;  按需设置，仅在需要时添加 */
}

/** 清除浮动 **/
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.layout, .main-wrap, .col-sub, .col-extra {
    *zoom: 1;
}
/*
Copyright 2010, KISSY UI Library v1.1.5
MIT Licensed
build time: Oct 15 14:07
*/
/*
常用的通用样式 Common Style
理念：少而精
维护：玉伯<lifesinger@gmail.com>
*/

/* 隐藏 */
.ks-hidden {display:none;}
.ks-invisible{ visibility: hidden;}

/* 清除浮动 */
.ks-clear:after { content:'\20'; display:block; height:0; clear:both; }
.ks-clear { *zoom:1;}

/* inline block */
.ks-inline-block { display: inline-block; *display: inline; }

/*下拉框*/
select{border:1px solid #A7A6AA; height:22px; font-size:12px; line-height:22px;}
select option{ padding:3px;}

/*漂浮*/
.fl{ float:left;}
.fr{ float:right;}

/*定位*/
.relative{ position:relative;}

/*显示为块*/
.block{ display:block;}

/*字体颜色*/
.color-red{ color:#e54022;}
.color-green{ color:#1cc200;}
.color-orange{ color:#ff6501;}
.color-gray{ color:#999;}

/*input START*/
input{ vertical-align:middle}
*:focus{ outline:none;}
.input-text,
.input-text-on,
.text-error,
.input-text-2,
.edit-activity-hover .qianbi,.edit-qianbi,
.input-day,
.input-day-2,
.input-day-3{ vertical-align:middle; background:url(http://cdn.huanleguang.com/img/hlg-app/common/input-dayman.gif) no-repeat; border:0;}
.input-text,
.input-text-on,
.text-error{ background-position:100% -84px;}
.input-text{ border:1px solid #A7A6AA; color:#7d7d7d;}
.input-text-on{ border:1px solid #FF9C00; color:#3E3E3E;}
.text-error{border:1px solid red;}
.input-text,
.input-text-on,
.text-error{ height: 22px; *height:20px; line-height:22px; padding:0 4px 0 4px; -moz-box-sizing: border-box; -webkit-box-sizing:border-box; box-sizing: border-box; font-size:12px; font-family:Arial;}
.input-text-2{ height: 27px; line-height:27px; _height: 25px; padding:0 4px 0 4px; background-position:0 -42px; color:#999; -moz-box-sizing: border-box; -webkit-box-sizing:border-box; box-sizing: border-box; font-size:12px; font-family:Arial;}
.input-none{ vertical-align:middle; height:22px; line-height:22px; color:#666; background:none; border:0;}
.edit-activity-hover .qianbi,.edit-qianbi{ background-position:0 -71px;}
.input-day,
.input-day-2,
.input-day-3{background-position:100% 0;}
.input-day{ width:184px; *width:174px;}
.input-day-2{ width:144px; *width:130px;}
.input-day-3{ width:95px; *width:85px;}
/*input END*/

/*按钮   START*/
.btm-margin-15auto{ margin: 15px auto;}
.btm-orange-baocun,
.btm-orange-queding,
.btm-orange-yulan,
.btm-orange-xiayibu,
.btm-orange-quxiao,
.btm-gray-baocun,
.btm-gray-queding,
.btm-gray-yulan,
.btm-gray-xiayibu,
.btm-gray-quxiao,
.btm-orange,
.btm-gray,
.btm-caozuo-orange,
.btm-caozuo-gray,
.btm-caozuo-gray-none,
.btm-kaishi-zhizuo,
.btm-chongxin-zhizuo,
.btm-mokuai-guanbi,
.btm-sousuo,
.btm-toufang,
.btm-tubiao,
.gray-btm-h-20-2,
.gray-btm-h-10,
.bianji .gongxiang,
.bianji .shezhi,
.bianji .toufang,
.bianji .huoqu,
.bianji .shanchu,
.gray-btm-h-20,
.toufang-sucai,
.haoping-guanbi,
.haoping-kaiqi,
.creat-control,
.btm-68-orange,
.btm-68-gray,
.button-search,
.search-bb,
.search-button,
.no-details .no-details-pic{ background:url(http://cdn.huanleguang.com/img/hlg-app/common/save-btm-1.png) no-repeat; _background:url(http://cdn.huanleguang.com/img/hlg-app/common/save-btm-1.jpg) no-repeat;}
/*按钮位置*/
.btm-orange-baocun{background-position:0 0;}
.btm-orange-queding{background-position:0 -35px;}
.btm-orange-yulan{background-position:0 -70px;}
.btm-orange-xiayibu{ background-position:0 -105px;}
.btm-orange-quxiao{ background-position:0 -140px;}
.btm-gray-baocun{background-position:-124px 0;}
.btm-gray-queding{background-position:-124px -35px;}
.btm-gray-yulan{background-position:-124px -70px;}
.btm-gray-xiayibu{ background-position:-124px -105px;}
.btm-gray-quxiao{ background-position:-124px -140px;}
.btm-orange{ background-position:0 -175px;}
.btm-gray{ background-position:-124px -175px;}
.btm-kaishi-zhizuo{ background-position:-91px -211px;}
.btm-chongxin-zhizuo{ background-position:0 -211px;}
.btm-sousuo{ background-position:-163px -239px;}
.btm-caozuo-orange{ background-position:0 -239px;}
.btm-caozuo-gray,.btm-caozuo-gray-none{ background-position:-82px -239px;}
.btm-toufang{ background-position:0 -265px;}
.btm-tubiao{background-position:-105px -265px;}
.gray-btm-h-20-2{ background-position:100% -323px;}
.gray-btm-h-10,.gray-btm-h-20{background-position:0 -350px;}
.btm-mokuai-guanbi{background-position: 0 -371px;}
.bianji .gongxiang{background-position:-93px -382px;}
.bianji .shezhi{ background-position:-111px -383px;}
.bianji .toufang{ background-position:-128px -382px;}
.bianji .huoqu{ background-position:-145px -382px;}
.bianji .shanchu{ background-position:-163px -383px;}
.toufang-sucai{background-position:0 -492px;}
.haoping-guanbi{ background-position:0 -519px;}
.haoping-kaiqi{background-position:-79px -519px;}
.creat-control{background-position:-104px -492px;}
.button-search{background-position:-65px -546px;}
.search-bb{background-position: 0 -546px;}
.search-button{ background-position: -569px;}
.no-details .no-details-pic{ background-position:0 -592px;}
/*按钮属性*/
.btm-orange-baocun,
.btm-orange-queding,
.btm-orange-yulan,
.btm-orange-xiayibu,
.btm-orange-quxiao,
.btm-gray-baocun,
.btm-gray-queding,
.btm-gray-yulan,
.btm-gray-xiayibu,
.btm-gray-quxiao,
.btm-orange,.btm-gray{border:0; cursor:pointer; width:124px; height:35px; font-size:15px;}
.btm-gray,.btm-caozuo-gray,.gray-btm-h-20-2{ color:#666666;}
.btm-orange,.btm-caozuo-orange{ color:#fff;}
.btm-caozuo-orange,.btm-caozuo-gray,.btm-caozuo-gray-none{ width:81px; height:24px; float:left; margin-right:5px; _display:inline; border:0;cursor:pointer;text-align:center;}
.btm-caozuo-gray-none{ color:#999; cursor:default;}.btm-caozuo-gray a{ color:#666;}
.btm-kaishi-zhizuo,.btm-chongxin-zhizuo,.btm-mokuai-guanbi{ display:block; width:90px; height:26px;}
.btm-kaishi-zhizuo{margin:auto;}.btm-chongxin-zhizuo,.btm-mokuai-guanbi{float:left; margin-right:10px;}
.btm-sousuo{ width:70px; height:23px; display:block;}
.btm-toufang,.btm-tubiao{ width:104px; height:26px; float:left; border:0; cursor:pointer; font-size:12px;}
.creat-control{ width:103px; height:26px;}.creat-control{border:0;cursor:pointer; width:103px; height:26px;}
.gray-btm-h-20-2{ display:inline-block; padding:0 6px; height: 26px; *height: 26px; border-left:1px #d3d3d3 solid; text-align:center; cursor:pointer;}
.gray-btm-h-10 a,.gray-btm-h-20 a{color:#666;}
.gray-btm-h-10{border:1px solid #A7A6AB;border-left:0; display:inline-block; height:20px; line-height: 20px; padding:0; text-align: center; }
.gray-btm-h-20{border:1px solid #A7A6AB; display:inline-block; height:20px; line-height: 20px; padding:0; color:#333; text-align: center; cursor:pointer; }
.bianji{display:inline-block; margin-right:15px; }
.bianji a{color:#ff7d00;}
.bianji span{ display:inline-block; width:18px; height:16px; margin-right:3px;vertical-align: middle;}
.toufang-sucai{border:0;cursor:pointer; width:103px; height:26px;}
.haoping-guanbi,.haoping-kaiqi{border:0;cursor:pointer; width:78px; height:26px;}
.button-search,.search-bb{ height:22px; border:0; vertical-align:middle; cursor:pointer;}
.button-search{ width:110px; }.search-bb{ border:0;width:64px;}
.search-button{height:22px; vertical-align:middle; text-align:left; text-indent:25px; cursor:pointer;border:1px solid #A7A6AA; border-left:0;}
/*弹出框按钮*/
.btm-68-orange,.btm-68-gray{width:68px; height:31px;display:block; line-height:31px; text-align:center; border:0;cursor:pointer; margin:0 5px;}
.btm-68-gray{color:#555;}.btm-68-orange{color:#fff}
.btm-68-orange{background-position:-1px -292px; background-color:#ffa53c}
.btm-68-gray{ background-position:-70px -292px; background-color:#f0f0f0}
.ui-dialog .btm-content{ height:31px; line-height:31px; font-size:12px;}
.ui-dialog .gengxin-btm{ background-repeat:no-repeat; background-position:0 0; width:200px; height:90px; display:block;}
.btm-margin-30auto{ margin:30px auto;}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none ;padding:0;} 
/*授权按钮*/
#shouquan .lijishouquan{background:url(http://cdn.huanleguang.com/img/hlg-app/common/shouquan-bg.gif) no-repeat; background-position:-36px -94px; width:64px; height:26px; display:block; float:left; margin-left:15px; _display:inline}
#shouquan .shouquan{display:block; height:26px; line-height:26px;color:#ff7a00;border-top:1px dashed #cccccc; padding:10px 0; background-color:#fff; width:322px; margin-bottom:2px; margin-top:8px; }
/*按钮   END*/
