/**
 
	core首页样式文件dashboard.css
 
**/

.hlg-app .main .content .version{ }
.hlg-app .main .content .version ul li{ overflow:hidden;}
.hlg-app .main .content .version .title{ clear:both; margin:30px 0 10px 0;}	
.hlg-app .main .content .version .map{ position:relative; float:left; width:348px;}

/*功能预览图*/
.hlg-app .main .content .version .name{ font-size:12px;padding-right:10px;}
.hlg-app .main .content .version .name .num{ color:#999;}
.hlg-app .main .content .version .map a span{ width:348px; display:inline-block;}
.hlg-app .main .content .version .map a .discount{ height:196px; background:url(http://cdn.huanleguang.com/img/hlg-app/index/xianshi.gif) no-repeat;}
.hlg-app .main .content .version .map a .list{ height:196px; background:url(http://cdn.huanleguang.com/img/hlg-app/index/liebiao.gif) no-repeat;}
.hlg-app .main .content .version .map a .icon{ height:163px; background:url(http://cdn.huanleguang.com/img/hlg-app/index/tubiao.gif) no-repeat;}
.hlg-app .main .content .version .map a .batch{ height:163px; background:url(http://cdn.huanleguang.com/img/hlg-app/index/piliang.gif) no-repeat;}
.hlg-app .main .content .version .map a .points{ height:194px; background:url(http://cdn.huanleguang.com/img/hlg-app/index/jifen.gif) no-repeat;}
.hlg-app .main .content .version .map a .interact{ height:194px; background:url(http://cdn.huanleguang.com/img/hlg-app/index/zadan.gif) no-repeat;}

/*功能列表*/
.hlg-app .main .content .version .sidebar{ background:url(http://cdn.huanleguang.com/img/hlg-app/index/bg-repeat.gif) repeat-x; height:139px; padding:12px 20px; float:left; width:620px;}
.hlg-app .main .content .version .sidebar-1{ background:url(http://cdn.huanleguang.com/img/hlg-app/index/bg-repeat-1.gif) repeat-x; height:197px; padding:10px 20px; float:left; width:620px;}
.hlg-app .main .content .version .sidebar-2{ background:url(http://cdn.huanleguang.com/img/hlg-app/index/bg-repeat-2.gif) repeat-x; height:154px; padding:20px 20px; float:left; width:620px;}
.hlg-app .main .content .version .sidebar-3{ background:url(http://cdn.huanleguang.com/img/hlg-app/index/bg-repeat.gif) repeat-x; height:113px; padding:25px 20px; float:left; width:620px;}
.hlg-app .main .content .version .sidebar-4{ background:url(http://cdn.huanleguang.com/img/hlg-app/index/bg-repeat-4.gif) repeat-x; height:144px; padding:25px 20px; float:left; width:620px;}
.hlg-app .main .content .version .sidebar p,
.hlg-app .main .content .version .sidebar-1 p,
.hlg-app .main .content .version .sidebar-3 p,
.hlg-app .main .content .version .sidebar-2 p,
.hlg-app .main .content .version .sidebar-4 p{ line-height:20px; color:#ccc;}
.hlg-app .main .content .version .list-icon li{ float:left; width:264px; text-align:left; _display:inline;min-height:50px;_height:50px;border:1px solid #f8f8f8;padding:4px 8px;margin-left:10px;height:40px;}
.hlg-app .main .content .version .list-icon li:hover{border:1px dashed #dfdfdf;background-color: #F2F2F2;padding:4px 8px;height:40px;}
.hlg-app .main .content .version .list-icon-1 li:hover{border:1px dashed #dfdfdf;background-color: #F2F2F2;padding:4px 8px;height:40px;}
.hlg-app .main .content .version .list-icon-1 li{ float:left; width:174px; text-align:left; _display:inline;border:1px solid #f8f8f8; padding:4px 8px; height:40px;}

/*操作*/
.hlg-app .main .content .version .add{ display:none;}
.hlg-app .main .content .version .mouseover .add{ display:inline-block; background-color:transparent;}
.hlg-app .main .content .version .used{ display:block; position:absolute; color:#fff; left:110px; bottom:12px;}
/*.hlg-app .main .content .version .buttom{display:inline-block;padding-top:5px;}
.hlg-app .main .content .version .current .switch{width:70px;height:21px;background:url(http://cdn.huanleguang.com/img/hlg-app/index/on.gif) no-repeat;display:inline-block;background-position: -70px 0;}
.hlg-app .main .content .version .switch{width:70px;height:21px;background:url(http://cdn.huanleguang.com/img/hlg-app/index/on.gif) no-repeat;display:inline-block;}*/

/*分享
.hlg-app .main .content .share a{background: url("http://img02.taobaocdn.com/tps/i2/T1_x_YXktcXXaE7pHe-16-650.png") no-repeat transparent;width: 60px;height: 25px;padding-left: 20px;display: inline-block;text-align: left;cursor: pointer;line-height: 25px;color: #767676;font-size: 12px;}
.hlg-app .main .content .share .jianghu{background-position: 0 4px;}
.hlg-app .main .content .share .qzone{background-position: 0 -391px;}
.hlg-app .main .content .share .renren{background-position: 0 -454px;}
.hlg-app .main .content .share .sina{background-position: 0 -26px;}
.hlg-app .main .content .share .qweibo{background-position: 0 -423px;}
.hlg-app .main .content .share-btm{clear:both;float:left;margin-top:5px;width:92px;height:27px;line-height:27px;display:block;cursor:pointer;text-indent:-9999px;background:url(http://cdn.huanleguang.com/img/hlg-mk/share.png) no-repeat;}
*/

/*弹窗升级按钮
.hlg-app .main .content .btn-sj{ cursor:pointer; border:0; width:109px; height:37px; background:url(http://img01.taobaocdn.com/imgextra/i1/73328087/T22ni7XfXbXXXXXXXX_!!73328087.png) no-repeat;}
.hlg-app .main .content .btn-zxkf{ cursor:pointer; border:0; width:109px; height:37px; background:url(http://img02.taobaocdn.com/imgextra/i2/73328087/T2oaSkXkhcXXXXXXXX_!!73328087.png) no-repeat;}
.hlg-app .main .content .btn-xf{ cursor:pointer; border:0; width:109px; height:37px; background:url(http://img02.taobaocdn.com/imgextra/i2/73328087/T2nBzoXoXaXXXXXXXX_!!73328087.png) no-repeat;}
.hlg-app .main .content .btn-ljlq{ cursor:pointer; border:0; width:110px; height:41px; background:url(http://img02.taobaocdn.com/imgextra/i2/73328087/T2SzYGXlFXXXXXXXXX_!!73328087.png) no-repeat;}
.hlg-app .main .content .btn-ljxd{ cursor:pointer; border:0; width:110px; height:41px; background:url(http://img01.taobaocdn.com/imgextra/i1/73328087/T2ZhDBXg0aXXXXXXXX_!!73328087.png) no-repeat;}
*/

/*海报倒计时*/
.hlg-app .main .content #PromoCountDown{ width:220px; left:275px; bottom:34px; position:absolute; color:#fff; font-size:18px; font-weight:700; font-family:'微软雅黑';}
.hlg-app .main .content #PromoCountDown .day{ width:26px; height:35px; display:inline-block;}
.hlg-app .main .content #PromoCountDown .day b{ width:12px; display:inline-block; text-align:center; font-weight:normal; font-family:Arial}
.hlg-app .main .content #PromoCountDown .hour{ width:26px; height:35px; padding-left:5px; display:inline-block;}
.hlg-app .main .content #PromoCountDown .hour b{ width:12px; display:inline-block; text-align:center; font-weight:normal; font-family:Arial}
.hlg-app .main .content #PromoCountDown .min{ width:26px; height: 35px; display:inline-block; padding:0 3px 0 5px;}
.hlg-app .main .content #PromoCountDown .min b{ width:12px; display:inline-block; text-align:center; font-weight:normal; font-family:Arial}
.hlg-app .main .content #PromoCountDown .sec{ width:25px; height:35px; display:inline-block; padding:0 5px 0 5px;}
.hlg-app .main .content #PromoCountDown .sec b{ width:12px; display:inline-block; text-align:center; font-weight:normal; font-family:Arial}
