/**
 
	步骤条样式文件calendar.css
 
 	<div class="ui-step">
	    <ul>
	         <li style="z-index:498; width:25%;" class="ui-step-item">1、<a>修改</a><div class="trigon"><span class="bor"></span><span class="blo"></span></div></li>
	         <li style="z-index:497; width:25%;" class="ui-step-item current">2、<a>修改</a><div class="trigon"><span class="bor"></span><span class="blo"></span></div></li>
	   		 <li style="z-index:496; width:25%;" class="ui-step-item">3、<a>修改</a><div class="trigon"><span class="bor"></span><span class="blo"></span></div></li>
	         <li style="z-index:495; width:25%;" class="ui-step-item current">4、<a>修改</a><div class="trigon"><span class="bor"></span><span class="blo"></span></div></li>
	    </ul>
	</div>
 
**/



.ui-step{letter-spacing: -0.31em;*letter-spacing: normal;word-spacing: -0.43em; clear:both; margin-bottom:10px;overflow:hidden;}
.ui-step a{font-size:12px; margin-left:10px;}
.ui-step .ui-step-item{display: inline-block;zoom: 1; *display: inline; /* IE < 8: fake inline-block */letter-spacing: normal;word-spacing: normal;vertical-align: top;height:24px;line-height:24px;color:#404040;font-size:12px;text-align:center;background-color:#EDEDED;margin:0px !important;position:relative;z-index:100;border:1px solid #DFDFDF;border-left:0;border-right:0;}
/*-----步骤条子项宽度-----*/
.ui-step-num2 li {width:456px;}
.ui-step-num3 li {width:303px;}
.ui-step-num4 li {width:228px;}
/*-----步骤条子项颜色-----*/
.ui-step-num2 li.current,
.ui-step-num3 li.current,
.ui-step-num4 li.current{background-color:#F9985E; color: #FFF}
.ui-step-num2 li.current a,
.ui-step-num3 li.current a,
.ui-step-num4 li.current a{display:none;}
.ui-step-num2 .current .blo,
.ui-step-num3 .current .blo,
.ui-step-num4 .current .blo{border-left-color:#F9985E !important;}
.ui-step .first .trigon .blo{border-color:transparent transparent transparent #FFFFFF;}
/*最后一项圆角*/
.ui-step li.current{background-color:#F9985E;font-weight:normal;color:#FFFFFF !important;}
.ui-step li.current .first {background-color:#FF6600;}

/*-----箭头样式-----*/
.ui-step .trigon{position:absolute;top:0px;right:-14px;z-index:200;width:14px;height:24px;overflow:hidden;padding:0px;background-color:transparent;z-index:200;}
.ui-step .trigon span{width:0px; height:0px;line-height:0px !important;padding:0px;}
.ui-step .trigon .blo{position:absolute;left:0px;top:0px;border:12px solid; border-color:transparent transparent transparent #EDEDED;border-style:dashed dashed dashed solid;}
.ui-step .trigon .bor{position:absolute;left:0px;top:-2px;border:14px solid; border-color:transparent transparent transparent #DFDFDF;border-style:dashed dashed dashed solid;	}
